.cardIndex, .galleryIndex {
  max-width: 1500px;

  .deleteSelectAll {
    i {
      color: $table-row-icon-color;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }

    &:hover {
      i {
        color: $table-row-icon-hover-color;
      }
    }
  }
}

.tableBox {
  .lengthTable {
    select {
      font-size: .9375rem;
      border: 1px solid #e2e8f0;
      border-radius: 0.25rem;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
  }

  .searchTable .input-group {
    max-width: 200px;

    input {
      font-size: .9375rem;
      border: 1px solid $form-input-border-color;
      border-radius: 0.2rem;

      &:focus {
        border-color: $form-input-border-focus-color;
      }
    }

    .btn {
      width: 45px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      font-size: .9375rem;
    }

  }

  .deleteSelectAll {
    white-space: nowrap;
    cursor: pointer;
  }

  .importSelectAll {
    cursor: pointer;
  }

  .paginationInfo {
    font-size: 90%;
  }

  .paginationBox {
    .pagination {
      margin-bottom: 0 !important;

      .page-item {
        .page-link {
          color: $btn-color;

          &:hover {
            background-color: $table-row-hover-bg-color;
          }
        }

        &.active .page-link {
          color: $white-color;
          background-color: $btn-color;
          border-color: $btn-color;

        }

      }
    }

  }

  .image_preview, .tableImage {
    img {
      border-radius: 7px;
      max-width: 80px;
      max-height: 80px;
    }
  }

  .tableLayout {
    margin-top: 1rem;
  }

  .table {
    border-collapse: separate !important;
    border-spacing: 0;
    color: $table-row-color;
    border: 1px solid $table-row-border-color;
    overflow: hidden;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;

    tbody tr:nth-child(odd) {
      background-color: $table-row-bg-color;
    }

    tbody tr {
      .highlight td {
        border-top: 1px dashed $table-row-border-color !important;
        border-bottom: 1px dashed $table-row-border-color !important;
      }

      &:hover {
        td {
          background-color: $table-row-hover-bg-color;

          a {
            color: $table-row-icon-hover-color;

            i {
              color: $table-row-icon-hover-color;
            }
          }
        }
      }
    }

    td, th {
      padding: 12px !important;

      &:last-child {
        border-right: 0;
      }

      &.no-sort {
        padding: 12px;
      }

      a {
        color: $table-row-icon-color;
      }
    }

    & > :not(:last-child) > :last-child > * {
      border-bottom-color: $table-row-border-color;
    }

    th {
      border-bottom: 2px solid $table-row-border-color;
      font-weight: 500;
      font-size: 90%;

      &.no-sort {
        padding: 12px;
      }
    }

    td {
      border-bottom: unset;
      border-top: 1px solid $table-row-border-color;

      a {
        display: block;
        color: $table-row-link-color;

        i {
          font-size: 110%;
          color: $table-row-icon-color;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s;
        }
      }

      &:last-child {
        border-bottom-left-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
      }

      .form-check .form-check-input {
        float: unset;
      }
    }

    .form-check {
      min-height: 0;
      margin-bottom: 0;
    }

    .dragMe {
      cursor: s-resize;
    }

    .table_link {
      font-size: 90%;
    }

    .w-5 {
      width: 5%;
      text-align: center;
    }
  }

  table.dataTable {
    margin: 0 !important;;

    .dataTables_empty {
      color: #3e4676;
    }
  }

  table.dataTable thead .sorting:before, table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 12px;
  }


  .cardElements {
    .rowElement {
      position: relative;
      min-height: 200px;

      .card {
        overflow: hidden;
      }

      a {
        color: $table-row-link-color;

        &:hover {
          color: $table-row-icon-hover-color;

          i {
            color: $table-row-icon-hover-color;
          }
        }
      }

      .bg-image {
        height: 100%;
        background-size: cover;
        background-position: center center;

        a {
          display: block;
          height: 100%;
        }
      }
      .card-body-title{
        font-size: 18px;
      }
      .manageTools {
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 3px;

        a {
          padding-left: 2px;
          padding-right: 2px;
        }
        .deleteSelectMe{
          margin-left: 2px;
          margin-right: 2px;
        }
      }

      i {
        //font-size: 110%;
        color: $table-row-icon-color;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;

        &:hover {
          color: $table-row-icon-hover-color;
        }

      }

    }

    .highlight {
      border: 1px dashed $table-row-border-color !important;
      border-radius: 0.25rem;
    }

    .dragMe {
      cursor: move;
      padding-left: 2px;
      padding-right: 2px;
    }
  }

  .galleryElements {

    .rowElement {
      min-height: unset;
      width: 180px;

      .bg-image {
        height: 130px;
        background-size: cover;
        background-position: center center;
      }

      .manageTools {
        background-color: rgba(255, 255, 255, 0.5);
        border-bottom-left-radius: 0.25rem;

        .form-check {
          min-height: unset;
        }
      }
    }
  }

  .dropzoneBox {
    display: none;

    .dropzone {
      border: 2px dashed #1976D2;
      border-radius: 5px;

      .dz-message {
        font-weight: 200;
        display: block;
        line-height: 30px;
        font-size: 20px;
        margin: 20px 0;

        .fas {
          font-size: 40px;
        }
      }

      .dz-preview .dz-image {
        border-radius: 0;
      }
    }
  }
}
